{
    "report-dir": "./coverage",
    "reporter": [
        "clover",
        "cobertura",
        "lcov"
    ],
    "extension": [
        ".ts", ".tsx"
    ],
    "include": [
        "src"
    ],
    "all": true,
    "cache": true
}
